* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincontent {
  background-color: lightgreen;
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mainforecast {
  height: 40%;
  width: 30%;
  background-color: lightblue;
}

.threedayforecast {
  height: 35%;
  width: 50%;
  background-color: lightpink;
}

.inputdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 30%;
  background-color: lightgoldenrodyellow;
}
